html
	style
		#hello	{
		position: fixed;
		width: 60%;
		height: 30%;
		left: 20%;
		top: 35%;
		}
	body
		center
			#hello
				h2 Priya.Guru
				h3
					| Once in a while, somewhere in south India, we were appreciating the Priya, all of a sudden Guru came, and told us the way society works.
				h3
					| Be updated to Priya.Guru launch know who inspired us to make it through, and share your 'Guru' experiences with us. Above all know Priya, Guru.
				h3
					| us@priya.guru 